@keyframes sparkle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sparkle_text {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ffcc00, #ff66cc, #66ffcc, #ffff66);
  background-size: 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: sparkle 3s ease infinite;
}
